<h1>Shrink yo Link</h1>
<p>Url shortener</p>

<style>
body {
  font-size:20px;
  font-family: 'Righteous', cursive;
  padding:50px;
  text-align:center;
  color:#F8B99C;
  background:black;}
</style>
